@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&family=Unbounded:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    background-color: #09102a;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.header.sticky {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
   background-color: #ffffff;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 2.7rem;
    margin-left: 0; /* Initially no margin */
}

.header .logo .img3 {
    margin-left: 2rem; /* Adjust margin to create visual order change */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.header .navbar button{
    outline:none ;
    transition: 1s;
}

.header .navbar button:active{
    transition: 500ms;
    background-color: #00000065;
}

.header.sticky .navbar button:active{
    transition: 500ms;
    background-color: #000000bf;
}

.header.sticky .navbar button{
    outline: .2rem solid rgba(33, 33, 33, 0.333) ;
}

.header .navbar-nav button .navbar-toggler-icon {
    color: #fff;
}

.header .navbar-nav li {
    padding: 0 1rem;
}

.header .navbar-nav .active {
    transition: 500ms;
    background-color: rgba(215, 215, 215, 0.343);
    border-radius: 3rem;
}

.header.sticky .navbar-nav .active {
    background-color: rgba(215, 215, 215, 0.343);
}

.header.sticky .navbar-nav .active a{
    color: #ffffff;
}

.header .navbar-nav li:hover {
  transition: 500ms;
  background-color: rgba(215, 215, 215, 0.343);
    border-radius: 3rem;
}

.header.sticky .navbar-nav li:hover {
    background-color: #e1e1e1;
    border-radius: 3rem;
    transition: background-color 0.3s ease-in-out; /* Added transition for background-color */
}

.header .navbar-nav li a {
    color: #ffffff;
    transition: color 0.3s ease-in-out; /* Added transition for color */
}

.header.sticky .navbar-nav li a {
    transition: color 0.1s ease-in-out; /* Added transition for color */
    color: #ffffff;
}
.header.sticky .navbar-nav li:hover a {
    color: #fff;
    transition: color 0.3s ease-in-out;
} */


.section-heading{
    padding: 10rem 0 5rem;
} 

*{
    /* color: white; */
}

.lm10{
    /* background-color: #09102a; */
}


#navbar li {
    list-style-type: none;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  #navbar #active::after,
  #navbar li:hover::after {
    position: absolute;
    content: "";
    background-color: #17cf97;
    width: 30%;
    height: 2px;
    bottom: 5px;
    left: 20px;
  }
  #navbar #active,
  #navbar li {
    cursor: pointer;
  }
  
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    margin: 21.3px 0;
  }
  
  @media screen and (max-width: 896px) {
    #mobile {
      display: block;
      cursor: pointer;
    }  
  }
  
  .link {
    color: white;
    text-decoration: none;
  }
  

  /* Style The Dropdown Button */
  .dropbtn {
    color: white;
    padding: 16px;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121;
    padding: 5px;
    height: 432px;
    min-width: 207px;
    left: -70%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #353535;
    text-decoration: none;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {
  } */


.cr7{
    margin-top: 10rem;
    color: black;
    text-align: center;
    padding: 10px;
}

.cr70{
    width: 90%;
    margin: auto;
    text-align: justify;
}

  .active0{
    background-color: rgba(215, 215, 215, 0.343);
  }



  .section{
    margin: 5rem 0rem 5rem;
    padding: 0 2rem;
    border-radius: 20px;
    /* border: 1px solid #4456b7; */
  }



  .img-flu{
    width: 70%;
}


.img-fl {
  width: 40%;
}


.second{
  display: none;
}


.section-6{
  padding: 1rem;
}

@media screen and (max-width: 576px) {
  .second{
    display: block;
  }
  .first{
    display: none;
  }
}


.heading0{
  /* text-align: center; */
  margin: 10rem 0 5rem;
}


.img{
width: 10rem;
}

.img00{
  /* border-right: 1px solid black; */
}


.img1{
  /* transform: translateY(50%); */
}

.img2{
  /* transform: translateY(150%); */
}

.img3{
  /* transform: translateY(250%); */
}

.img-f{
  width: 100%;
  margin-top: -5.4rem;
  height: 400px;
}

.cr7{
  /* width: 80vw; */
    text-align: center;
    padding: 0rem 0 5rem;
    overflow: hidden;
    margin-top: 0;
}

.section h2{
  color: #c643dd;
}

@media screen and (max-width: 840px) {
.img-f{
  width: 800px;
height: 500px;
}
}


.footer{
  padding: 2rem 1rem 0;
  background-color: black;
}



.a{
  margin: .3rem;
  color: white;
}

.a:hover{
  margin: .3rem;
  color: white;
}

.bi{
  color: #000;
  background-color: white;
  padding: .3rem .5em;
  border-radius: 40%;
}

.saperate p{
  margin-top: 1rem;
}

.saperate:hover .bi{
  background-color:#557bac ;
  color: white;
}

.saperate h2 {
  margin-bottom: 2rem;
}